.banner__image {
  position: absolute;
  /* background-image: url("../../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background: url("../../img/banner.png") no-repeat center / cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}